/* imports */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');

/* def colors */
.deep-aqua {
    background-color: #003B46;
}

.ocean {
    background-color: #07575B;
}

.wave {
    background-color: #66A5AD;
}

.seafoam {
    background-color: #C4DFE6;
}

/* font style */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: bold;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 23px;
}

/* header / nav */

header nav a.uk-logo {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    color: #000;
}

header nav ul li a {
    font-size: 12px !important;
    color: #000 !important;
    letter-spacing: 1px !important;
}

header .header-img {
    max-height: 100vh;
    height: 100%;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    background: #fff;
}

/* other */

.tech li {
    margin: 0 0 20px 0;
}

.homepage-bg {
    position: relative;
}

#main-navbar {
    height: 80px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.header-content h1 {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.header-content p {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    color: #f4f4f4;
}

.quote {
    position: relative;
    margin: 100px 0 !important;
    padding: 50px 20px 40px 80px;
}

.quote p {
    position: relative;
    z-index: 2;
    font-size: 30px;
    line-height: 1.1;
    color: #707070;
    font-weight: normal;
    /*text-transform: uppercase;*/
    letter-spacing: 1px;
    margin: 0;
}

.author {
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
}

.quote:before {
    font-family: "FontAwesome";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    font-size: 180px;
    color: #f0f0f0;
    content: '\f10d';
}

.quote:after {
    font-family: "FontAwesome";
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    font-size: 125px;
    color: #f0f0f0;
    content: '\f10e';
}