* {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

body {
    background-color: #bdbbbb;
}

h1 {
    font-size: 3em;
    color: #ee5000;
    text-align: center;
}

.wrapper {
    margin: 0 auto;
    width: 370px;
    position: relative;
    z-index: 10;
}

.raadje-plaatje {
    background-color: #fff;
    border-radius: 20px;
    /* overflow:hidden;	 */
    display: flex;
    justify-content: flex-start;
    /* flex-wrap: wrap; */
    margin-top: 20px;
}

.img-grid {
    margin-top: 20px;
    background-color: #ee5000;
    padding: 15px;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.img-grid a img {
    box-sizing: border-box;
    height: 100px;
    width: 100px;
    border-radius: 3px;
}

.img-grid a:hover img {
    border: 3px solid #0096ff;
}

.img--small {
    border: 3px solid #fff;
    margin: 3px;
}

.picture {
    border: #0096ff 20px solid;
    border-radius: 20px;
    background-color: #0096ff;
    width: 150px;
    height: 150px;
}

.message {
    width: 130px;
    padding: 0 15px;
    font-size: 1.4em;
}

.score {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 20px;
    /* overflow:hidden;	 */
    display: flex;
    justify-content: flex-start;
    /* flex-wrap: wrap; */
}

.new-game-btn {

}

.new-game-btn .button {
    background-color: green;
    border-radius: 20px;
    box-sizing: border-box;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 1.4em;
    outline: 0;
}

.new-game-btn .button:hover {
    cursor: pointer;
    cursor: hand;
}

.score .score-message {
    padding: 0 15px;
    font-size: 1.4em;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

#points {
    background-color: green;
    border-radius: 40px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    color: white;
    padding: 0 15px;
}

.imageRot {
    -webkit-animation: spin 1s cubic-bezier(0, 1.87, 0.58, 1);
    -moz-animation: spin 1s cubic-bezier(0, 1.87, 0.58, 1);
    animation: spin 1s cubic-bezier(0, 1.87, 0.58, 1);
}

@-moz-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    overflow: hidden;
}





